.advantages {
  background-image: url("../img/advantages-desktop.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: #00bfff;
}

.advantages__container {
  width: 85%;
  max-width: 1160px;
  margin: 0 auto;
  padding-top: 110px;
  padding-bottom: 120px;
}

.advantages h2 {
  font-size: 28px;
  line-height: 42px;
  font-style: normal;
  font-weight: 600;
  color: #011c40;
  margin: 0;
  margin-bottom: 49px;
  text-align: center;
}

.advantages__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.advantages__item {
  width: 31%;
  padding-top: 81px;
  padding-right: 30px;
  padding-bottom: 25px;
  padding-left: 30px;
  background-color: #f9fbfd;
  position: relative;

  &::before {
    content: "";
    width: 27px;
    height: 32px;
    background-image: url("../img/boat.svg");
    background-size: 27px 32px;
    position: absolute;
    top: 30px;
    left: 30px;
  }

  &--allin::before {
    width: 38px;
    height: 21px;
    background-image: url("../img/all-in.svg");
    background-size: 38px 21px;
    top: 35px;
  }

  &--tour::before {
    width: 42px;
    height: 15px;
    background-image: url("../img/tour.svg");
    background-size: 42px 15px;
    top: 38px;
  }
}

.advantages__item h3 {
  font-size: 18px;
  line-height: 27px;
  font-style: normal;
  font-weight: 500;
  color: #011c40;
  margin: 0;
  margin-bottom: 8px;
}

.advantages__item p {
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  font-weight: normal;
  color: #011c40;
  margin: 0;
}

@media (max-width: $tablet-width) {
  .advantages {
    background-image: url("../img/advantages-tablet.jpg");
    background-size: 100% 588px;
  }

  .advantages__container {
    width: 88%;
    padding-top: 90px;
    padding-bottom: 100px;
  }

  .advantages h2 {
    font-size: 26px;
    line-height: 39px;
  }

  .advantages__item {
    width: 30%;
    padding-top: 72px;
    padding-right: 12px;
    padding-bottom: 20px;
    padding-left: 20px;

    &::before {
      content: "";
      width: 21px;
      height: 26px;
      background-size: 21px 26px;
      top: 25px;
      left: 20px;
    }

    &--allin::before {
      width: 33px;
      height: 19px;
      background-size: 33px 19px;
      top: 29px;
    }

    &--tour::before {
      width: 38px;
      height: 13px;
      background-size: 38px 13px;
      top: 32px;
    }
  }

  .advantages__item h3 {
    line-height: 25px;
  }
}

@media (max-width: $mobile-width) {
  .advantages {
    background-image: url("../img/advantages-mobile.jpg");
    background-size: 100% 997px;
  }

  .advantages__container {
    width: 91%;
    padding-top: 57px;
    padding-bottom: 66px;
  }

  .advantages h2 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px;
  }

  .advantages__list {
    flex-wrap: wrap;
  }

  .advantages__item {
    width: 100%;
    margin-bottom: 29px;
    padding-right: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .advantages__item h3 {
    width: 69%;
  }
}
