.catalog__container {
  width: 84.92%;
  max-width: 1160px;
  margin: 0 auto;
  padding-top: 110px;
  padding-right: 0.79%;
  padding-bottom: 90px;
  padding-left: 0.79%;
}

.catalog h2 {
  font-size: 28px;
  line-height: 42px;
  font-style: normal;
  font-weight: 600;
  color: #011C40;
  margin: 0;
  margin-bottom: 49px;
  text-align: center;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog__item {
  width: 22.84%;
  min-height: 386px;
  margin-bottom: 30px;
  position: relative;
  background-image: url('../img/astoria.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #00BFFF;
  &--atlantis {
    background-image: url('../img/atlantis.jpg');
  }
  &--odissey {
    background-image: url('../img/odissey.jpg');
  }
  &--olimpia {
    background-image: url('../img/olimpia.jpg');
  }
  &--avrora {
    background-image: url('../img/avrora.jpg');
  }
  &--leonor {
    background-image: url('../img/leonor.jpg');
  }
  &--minion {
    background-image: url('../img/minion.jpg');
  }
}

.catalog__item h3 {
  font-size: 18px;
  line-height: 27px;
  font-style: normal;
  font-weight: 500;
  color: #F9FBFD;
  margin: 0;
  margin-top: 337px;
  margin-left: 11.5%;
}

.catalog__popup {
  width: 100%;
  height: 100%;
  padding-top: 30px;
  padding-right: 9.7%;
  padding-bottom: 35px;
  padding-left: 9.7%;
  background-color: #011C40;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
}

.catalog__popup h3 {
  font-size: 18px;
  line-height: 27px;
  font-style: normal;
  font-weight: 500;
  color: #F9FBFD;
  margin: 0;
}

.catalog__popup b {
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  font-weight: 500;
  color: #F9FBFD;
  display: block;
}

.catalog__popup span {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #D8D8D9;
  display: block;
}

.catalog__link {
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
  color: #011C40;
  background-color: #F9FBFD;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
}

.catalog__item:hover .catalog__popup {
  display: flex;
}

@media (max-width: $tablet-width) {
  .catalog__container {
    width: 88.28%;
    padding-top: 90px;
    padding-right: 2%;
    padding-bottom: 70px;
    padding-left: 2%;
  }

  .catalog h2 {
    font-size: 26px;
    line-height: 39px;
  }

  .catalog__item {
    width: 47.74%;
  }

  .catalog__item h3 {
    margin-top: 332px;
  }

  .catalog__popup {
    padding-right: 11.1%;
    padding-left: 11.6%;
  }

  .catalog__popup h3 {
    margin: 0;
  }
}

@media (max-width: $mobile-width) {
  .catalog__container {
    width: 90.62%;
    padding-top: 57px;
    padding-right: 3.13%;
    padding-bottom: 35px;
    padding-left: 3.13%;
  }

  .catalog h2 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px;
  }

  .catalog__item {
    width: 100%;
  }

  .catalog__item h3 {
    margin-top: 341px;
    margin-left: 9.8%;
  }

  .catalog__popup {
    padding-right: 9.1%;
    padding-left: 9.4%;
  }

  .catalog__popup h3 {
    margin: 0;
  }

}
